<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <h1>{{this.user.firstname}}, Welcome to Examportal</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam harum, quidem id voluptatibus laboriosam dolores iste quo ducimus nulla debitis!</p>
                <button mat-raised-button routerLink="/signin" style="color: #fff;background-color: #2196F3;">Get Started<mat-icon>arrow_forward</mat-icon></button>
                
            </div>
        </div>
    </div>
</div>